.error__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;

  gap: 70px;
  max-width: 379px;

  color: var(--white-secondary);

  h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
